<% layout(_view.get('_layout/content')) %>

<h1 class="content-header mb-4">
    <span class="text-danger icon fa fa-sun"></span>
    Система отслеживания ошибок
</h1>
<p>
    Алгоритм работы:
</p>
<ul>
    <li>
        Администратор создает сотрудников и назначает им роли (менеджер, исполнитель).
    </li>
    <li>
        Администратор создает проекты для отслеживания ошибок.
    </li>
    <li>
        Менеджер создает задачу, в которой описывает найденный в проекте дефект. Если требуется, то прикладывает
        дополнительные файлы (например, скриншоты и т.п.).
    </li>
    <li>
        Менеджер назначает исполнителя задачи, который отвечает за устранение ошибки.
    </li>
    <li>
        Исполнитель решает задачу и отдает ее на проверку.
    </li>
    <li>
        Менеджер проверяет решение и, если дефект устранен, то закрывает задачу,
        иначе возвращает ее на доработку.
    </li>
</ul>
<p>
    К задаче можно добавлять комментарии для оперативного решения возникающих вопросов.
    Кроме того сотрудники могут вести учет затраченного времени.
</p>

<div class="row mt-4">
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="text-success mb-0">Модуль Студия</h5>
            </div>
            <div class="card-footer text-center">
                <a href="studio" class="btn-success btn">Создавайте</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="text-primary mb-0">Модуль Офис</h5>
            </div>
            <div class="card-footer text-center">
                <a href="office" class="btn-primary btn">Наполняйте</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="text-dark mb-0">Модуль Администрирование</h5>
            </div>
            <div class="card-footer text-center">
                <a href="admin" class="btn-dark btn">Управляйте</a>
            </div>
        </div>
    </div>
</div>